A01 = Admit

A01ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a01_import_url_path }}

A02 = Transfer

A02ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a02_import_url_path }}

A03 = Discharge

A03ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a03_import_url_path }}

A04 = Register

A04ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a04_import_url_path }}

A05ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a05_import_url_path }}

A06 = OutInTransfer

A06ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a06_import_url_path }}

A07 = InOutTransfer

A07ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a07_import_url_path }}

A08 = Update

A08ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a08_import_url_path }}

A11 = CancelAdmit

A12 = CancelTranfer

A13 = CancelDischarge

A17 = Swap

A18ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a18_import_url_path }}

A28ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a28_import_url_path }}

A29ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a29_import_url_path }}

A31ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a31_import_url_path }}

A40ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a40_import_url_path }}

A41ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a41_import_url_path }}

A45ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a45_import_url_path }}

A47ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_adt_a47_import_url_path }}

DFTP03ImportUrl =  https://{{ application_www_dns_address }}/{{ hl7_dft_p03_import_url_path }}

maxErrorRetryCount = 10

loginUrl = https://{{ application_www_dns_address }}/{{ security_check_url_path }}

ORUR01ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_oru_r01_import_url_path }}

ORMO01ImportUrl = https://{{ application_www_dns_address }}/{{ hl7_orm_o01_import_url_path }}

namespaceId = CMX

serviceVersion = v1

batchSize = 100

documentUrl = https://{{ application_www_dns_address }}/{{ document_import_url_path }}

loginRetryCount = 3
