---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: mirth
secretDescriptor:
  backendType: secretsManager
  data:
    - key: {{ mirth_database_secret_name }}
      name: dbusername
      property: dbusername

    - key: {{ mirth_database_secret_name }}
      name: dbpassword
      property: dbpassword

    - key: {{ mirth_database_secret_name }}
      name: dburl
      property: dburl
