---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: security-new-relic
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/NewRelic/{{ env }}
      name: license_key
      property: license_key