{% for service in services %}
---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: {{ service }}-database
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/Database/{{ env }}-{{ service }}
      name: dbusername
      property: dbusername

    - key: CodaMetrixApplication/Database/{{ env }}-{{ service }}
      name: dbpassword
      property: dbpassword

    - key: CodaMetrixApplication/Database/{{ env }}-{{ service }}
      name: dburl
      property: dburl
{% endfor %}

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: security-redis
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/Redis/{{ env }}
      name: redispassword
      property: redispassword

    - key: CodaMetrixApplication/Redis/{{ env }}
      name: redisaddress
      property: redisaddress

    - key: CodaMetrixApplication/Redis/{{ env }}
      name: redisport
      property: redisport

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: security
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/Security/{{ env }}
      name: jwt_key
      property: jwt_key

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: oauth-process
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/OAuth/{{ env }}-processservice
      name: oauthid
      property: oauthid

    - key: CodaMetrixApplication/OAuth/{{ env }}-processservice
      name: oauthsecret
      property: oauthsecret

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: oauth-monitor
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/OAuth/{{ env }}-monitorservice
      name: oauthid
      property: oauthid

    - key: CodaMetrixApplication/OAuth/{{ env }}-monitorservice
      name: oauthsecret
      property: oauthsecret

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: security-new-relic
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/NewRelic/{{ env }}
      name: license_key
      property: license_key

---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: security-smtp
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/SMTP/{{ env }}
      name: address
      property: address

    - key: CodaMetrixApplication/SMTP/{{ env }}
      name: username
      property: username

    - key: CodaMetrixApplication/SMTP/{{ env }}
      name: password
      property: password


{% if vitalware_enabled %}
---
apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: vitalware-api
secretDescriptor:
  backendType: secretsManager
  data:
    - key: CodaMetrixApplication/VitalwareAPI/{{ env }}
      name: username
      property: username

    - key: CodaMetrixApplication/VitalwareAPI/{{ env }}
      name: password
      property: password

    - key: CodaMetrixApplication/VitalwareAPI/{{ env }}
      name: api_key
      property: api_key
{% endif %}
