[
   {
      "classification": "yarn-env",
      "properties": {
      },
      "configurations": [
         {
            "classification": "export",
            "properties": {
               "YARN_RESOURCEMANAGER_OPTS": "-Dhadoop.root.logger=DEBUG"
            },
            "configurations": [

            ]
         }
      ]
   }
]