#!/bin/bash

# Update the SMTP details
echo "Enter SMTP address: "
read address

echo "Enter SMTP username: "
read username

echo "Enter SMTP password: "
read password

if [ "$username" != "" ] && [ "$password" != "" ] && [ "$address" != "" ]; then
  # Update AWS secret
  aws secretsmanager update-secret --region "{{ region }}" \
    --secret-id "CodaMetrixApplication/SMTP/{{ env }}" \
    --kms-key-id '{{ application_secrets_kms_key_alias }}' \
    --secret-string '{"address":"'${address}'", "username":"'${username}'", "password":"'${password}'"}'
fi
