#!/bin/bash

# Update the username / password / API key
echo "Enter Vitalware Username: "
read username

echo "Enter Vitalware Password: "
read password

echo "Enter Vitalware API Key: "
read api_key

if [ "$username" != "" ] && [ "$password" != "" ] && [ "$api_key" != "" ]; then
  # Update AWS secret
  aws secretsmanager update-secret --region "{{ region }}" \
    --secret-id "CodaMetrixApplication/VitalwareAPI/{{ env }}" \
    --kms-key-id '{{ application_secrets_kms_key_alias }}' \
    --secret-string '{"username":"'${username}'", "password":"'${password}'", "api_key": "'${api_key}'"}'
fi
